*{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

{/*************Home Section*************/}
.section1 .container-fluid .carousel-item:before{

	content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 10px;
  background:rgba(0,0,0,0.7);

}

.section1 .container-fluid .carousel-item img{
	height: 956px;
}
.section1 .container-fluid .carousel-caption{

	top: 245px;
}
.section1 .container-fluid .carousel-caption h1{
	padding: 0px 100px 0px 100px ;
	font-size: 65px;
}
.section1 .container-fluid .carousel-caption p{
		padding: 0px 84px 0px 84px ;
}
.section1 .container-fluid .carousel-caption a{
		background: #FF5959;
    color: #dddddd;
    border-radius: 30px;
    border: none;
    padding: 15px;
    width: 25%;
}

  {/*************Donate now Section*************/}

.section2,.form,.section3,.section5,.section4{
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section2 .container{
	padding-bottom: 48px;
}

.section2 .donate h1{
	font-size: 45px;
	margin-top: 100px;
		margin-bottom: 0;
}

.donate-details{
	padding: 24px 0px 24px 0px;
}

.donate-details p{
	text-align: center;
	color: #707070;
padding: 0px 130px 0px 130px;
}


.block{
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 48px 0px 48px 0px;
}

.block div{
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 5px;
	margin: 10px 10px 50px 10px;
	height: 80px;
	width: 80px;
}

#tk{
	border: 2px solid #FF5959;
}

.block div h4{
	
	color: #707070;
	text-align: center;
	font-size: 22px;
}
.form{
	 padding: 48px 0px 48px 0px;
}
.form input{
	outline: none;
	width: 500px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: 1px solid #000000;
	/*text-align: center;*/
}



.button1{
	text-decoration: none;
	background: #FF5959;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 15px;
  width: 25%;
	margin: 20px 10px 10px 10px;
	text-align: center;
}
.button1:hover{
	color: #ffffff;
}

.form{
	margin-bottom: 100px;
}

  {/*************Our plan Section************/}

.section3 .plan-heading h1{
		font-size: 45px;
/*    margin-top: 100px;*/
    margin-bottom: 0;
}


.plans{
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
/*  padding: 80px 80px 80px 80px;*/
}
.plan-details{
	padding: 24px 0px 24px 0px;
}
.plan-details p{
	text-align: center;
	color: #707070;
}

.plans div{
	
	padding: 28px;
/*	margin: 20px 20px 20px 20px;*/
	border-radius: 5px;
}

.section3 .container .row .col-md-4{
  position: relative;
  overflow: hidden;
}
.section3 .container .row .col-md-4:hover{
		  transform: scale(1.1);
    transition: transform 0.3s ease;
}
#food{
	background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(210,139,139,1) 0%, rgba(255,198,198,1) 100%);
}
#shelter{
	background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(210,139,139,1) 0%, rgba(255,51,51,1) 100%);
}
#education{
	background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(210,139,139,1) 0%, rgba(255,198,198,1) 100%);
}



 {/*************Success Section************/}


.donate1{
	padding: 80px;
	margin: 40px;
}

.done-elements .done-heading h1{
	font-size: 45px;
	margin-top: 100px;
	margin-bottom: 0;
}

.done img{
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99%!important;
  height: 75%;
  position: absolute;
  z-index: -1;
}


.done-accessories{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 230px 0px 300px 0px;
}

.done-accessories h1{
	font-weight: bold;
	font-size: 45px;
}
.done-details{
	padding: 24px 0px 24px 0px;
}
.done-details p{
padding: 0px 555px 0px 555px;
color: #707070;
}


.boxes{
	  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.boxes div{
	padding: 30px;
  background-color: #FF5959;
  border-radius: 5px;
  margin: 10px 70px 50px 70px;
  height: 120px;
  width: 180px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.boxes div:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.total-raised h2 span{
	font-size: 10px;
	float: left;
}


 {/*************Gallary Section************/}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px;
}

.gallary-details{
	padding:24px 0px 24px 0px;
}
.gallary-heading h1{
	font-size: 48px;
}


.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.gallery-item img {
    max-width: 100%;
    height: 100%;
    display: block;
}

/* Add hover effect to the gallery items */
.gallery-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

{/*************About Section************/}

.about-heading h1{
	font-size: 45px;
}
.about-details{
	padding:24px 0px 24px 0px;
}
{/*************FAQ Section************/}

.section6 {
/*	padding-top: 10px !important;*/
padding-bottom: 120px;
}
.section6 .container .qs{
	width: 100% !important;
}
.section6 .container .qs-elements{
	padding: 15px;
}
.section6 .container .qs-elements h1{
	font-size: 45px;
}
.section6 .container .qs-elements p{
	text-align: center;
	margin-top: 10px;
}

{/*************Contact Us************/}

.section7{
background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section7 .contact-heading{
	padding: 48px 0px 0px 0px;
}
.section7 .contact-heading h1{
font-size: 45px;
}



.section7 .contact-address{
display: flex;
flex-direction: column;
padding: 5px;
}
.section7 .contact-address span i{
border: 2px solid #FF5959;
padding: 8px;
color: #FF5959;
}
.section7 .contact-address span p{
display: inline-block;
color: #ffffff;
padding: 10px;
}

.contact-main .contact-form input ,.contact-main .contact-form textarea{
width: 80%;
color: #FFF;
background: transparent;
border: none;
outline: none;
border: 2px solid #ffffff;
}
.contact-main .contact-form input:focus,.contact-main .contact-form input .focus,.contact-main .contact-form textarea:focus,.contact-main .contact-form textarea .focus{
outline: 0;
color: #fff;
box-shadow: none;
}
.contact-main .contact-form .btn3:focus,.contact-main .contact-form .btn3 .focus{
outline: 0;
background: #FF5959;
box-shadow: none !important;
}
.contact-main .contact-form .btn3{
bottom: -30px;
right: 120px;
background: #FF5959;
color: #dddddd;
border-radius: 29px;
border: none;
padding: 15px;
width: 25%;
}


{/*************Footer************/}

footer{
	background-color: #0B0D17;
  display: flex;
	justify-content: center;
	font-family: 'Lobster', cursive;

}

footer .footer-element h3{
	color: #FF5959;
}



footer p{
	color: white;
	text-align: center;
	padding: 5px;
}

.social i{
    background: rgba(218, 208, 208, 0.1);
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.social i:hover{
	background: #FF5959;
}

.social ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: -28px;
}

.social ul li{
	list-style: none;
}
.social ul li a{
	text-decoration: none;
	padding: 5px;
	color: white;
}





@media only screen and (max-width: 320px){
	{/*************Navbar************/}
	.navbar .container-fluid{
		padding: 0px!important;
	}

	{/*************Home Section************/}

	.section1{
		margin-top: 60px;
	}
	.section1 .carousel-caption{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column!important;
	}
	.section1 .container-fluid .carousel-caption h1 {
		padding: 0px!important;
		font-size: 10px;
		margin-top: -300px;
	}
	.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 8px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
	.section1 .carousel-item img{
		height: 200px!important;
		width: 100%!important;
	}

	{/*************Donate now Section************/}

	.section2 .donate h1 {
		margin-top: 0px!important;
	}
	.donate-details p {
		padding: 0px!important;
	}
	.block{
		display: inline;
	}
	
	.section2 .block{
		padding: 0px!important;
	}
	.block div{
		margin: 15px!important;
		width: inherit!important;
		height: inherit!important;
	}
	.section2 .form{
		margin-bottom: 0px!important;
		padding: 0px!important;

	}
.section2 .form input{
	width: 100%;
}

.section2 .form .button1{
	width: 100%;
}

{/*************Our plan Section************/}
	.section3 .plan-details {
		padding: 0px!important;
	}

	.plans div{
		padding: 10px!important;
	} 

	{/*************Success Section************/}
	.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width: 320px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
		margin: 0px!important;
	}
	.done .done-accessories .boxes{
		display: flex;
		flex-direction: column!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}

		{/*************Gallary Section************/}

	.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary-elements .gallary-details{
  	padding: 0px!important;
  }

  	{/*************About Section************/}

	.about .about-details{
		padding: 0!important;
	}
	.about .card .card-body{
		padding-right: 0!important;
		padding-left: 0!important;
	}
	.about .card .row .col-md-6{
		padding: 0px!important;
	}
	.about .card .row .col-md-6 img{
		border-radius: 0!important;
	}

	{/*************Contact Section************/}

	.contact-main .contact-form .btn3 {
		width: 50%;
	}
	.contact-form input{
		width: 100%;
	}
}

@media only screen and (max-width: 375px) and (min-width: 321px){
		{/*************Home Section************/}
			.section1{
		margin-top: 60px;
	}

			.section1 .carousel-caption{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column!important;
	}
	.section1 .container-fluid .carousel-caption h1 {
		padding: 5px!important;
		font-size: 15px;
		margin-top: -300px;
	}
	.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 10px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
	.section1 .carousel-item img{
		height: 100%!important;
		width: 100%!important;
	}
	{/*************Donate now Section************/}
		.section2 .donate h1 {
		margin-top: 0px!important;
	}
	.donate-details p {
		padding: 0px!important;
	}
	.block{
		display: inline;
	}
	
	.section2 .block{
		padding: 0px!important;
	}
	.block div{
		margin: 15px!important;
		width: inherit!important;
		height: inherit!important;
	}
	.section2 .form{
		margin-bottom: 0px!important;
		padding: 0px!important;

	}
.section2 .form input{
	width: 100%;
}

.section2 .form .button1 {
    width: 100%;
}
	{/*************Our plan Section************/}

	.section3 .plan-details {
		padding: 0px!important;
	}
	.plans div{
		padding: 10px!important;
	} 

		{/*************Success Section************/}

		.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width: 380px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
		margin: 0px!important;
	}
	.done .done-accessories .boxes{
		display: flex;
		flex-direction: column!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}

		{/*************Gallary Section************/}

			.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr)!important;
  }
   .gallary-elements .gallary-details{
  	padding: 0px!important;
  }

  	{/*************About Section************/}

  	.about .about-details{
		padding: 0!important;
	}
	.about .card .card-body{
		padding-right: 0!important;
		padding-left: 0!important;
	}
	.about .card .row .col-md-6{
		padding: 0px!important;
	}
	.about .card .row .col-md-6 img{
		border-radius: 0!important;
	}
	{/*************Contact Section************/}

		.contact-main .contact-form .btn3 {
		width: 50%;
	}



	}

@media only screen and (max-width: 425px) and (min-width: 376px){
	{/*************Home Section************/}
					.section1{
		margin-top: 60px;
	}

			.section1 .carousel-caption{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column!important;
	}
	.section1 .container-fluid .carousel-caption h1 {
		padding: 5px!important;
		font-size: 18px;
		margin-top: -300px;
	}
	.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 11px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
	.section1 .carousel-item img{
		height: 100%!important;
		width: 100%!important;
	}
	{/*************Donate now Section************/}
		.section2 .donate h1 {
		margin-top: 0px!important;
	}
	.donate-details p {
		padding: 0px!important;
	}
	.block{
		display: inline;
	}
	
	.section2 .block{
		padding: 0px!important;
	}
	.block div{
		margin: 15px!important;
		width: inherit!important;
		height: inherit!important;
	}
	.section2 .form{
		margin-bottom: 0px!important;
		padding: 0px!important;

	}
.section2 .form input{
	width: 100%;
}

.section2 .form .button1 {
    width: 100%;
}
	{/*************Our plan Section************/}

	.section3 .plan-details {
		padding: 0px!important;
	}
	.plans div{
		padding: 10px!important;
	} 
		{/*************Success Section************/}

		.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:425px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
		margin: 0px!important;
	}
	.done .done-accessories .boxes{
		display: flex;
		flex-direction: column!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}
		{/*************Gallary Section************/}

			.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr)!important;
  }
   .gallary-elements .gallary-details{
  	padding: 0px!important;
  }
	{/*************About Section************/}

  	.about .about-details{
		padding: 0!important;
	}
	.about .card .card-body{
		padding-right: 0!important;
		padding-left: 0!important;
	}
	.about .card .row .col-md-6{
		padding: 0px!important;
	}
	.about .card .row .col-md-6 img{
		border-radius: 0!important;
	}
	{/*************Contact Section************/}

		.contact-main .contact-form .btn3 {
		width: 50%;
	}
	}

@media only screen and (max-width: 526px) and (min-width: 426px){
		{/*************Home Section************/}
							.section1{
		margin-top: 60px;
	}
					.section1 .carousel-caption{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
			.section1 .container-fluid .carousel-caption h1 {
		padding: 5px!important;
		font-size: 25px;
		margin-top: -250px;
		
	}
		.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 10px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
	.section1 .carousel-item img{
		height: 100%!important;
		width: 100%!important;
	}

		{/*************Donate now Section************/}
	.section2 .donate h1{
		margin-top: 20px;
	}
		.section2 .block{
			padding: 0px;
		}
		.section2 .donate-details p{
			padding: 0px;
		}
		.section2 .form{
			margin-bottom: 0px;
			padding: 0px;
		}

		.section2 .form input{
			width: 100%;
		}
		.section2 .form .button1{
			width: 100%;
		}

			{/*************Our plan Section************/}

		.plans{
			display: grid;
			grid-template-columns: repeat(3, 1fr)!important;
		}

		.plans .col-md-4 #shelter,.plans .col-md-4 #food,.plans .col-md-4 #education{
			padding: 10px;
		}
		.plans .col-md-4{
			padding: 5px!important;
		}

			{/*************Success Section************/}
				.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:770px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
    margin: 100px 0px 150px 0px;

	}
	.done .done-accessories .boxes{
			display: grid;
			grid-template-columns: repeat(2, 1fr)!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}

		{/*************Gallary Section************/}

		.gallery {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr)!important;
  }
  

  	{/*************About Section************/}
	.about .card .row .col-md-6 img{
		border-radius: 0!important;
	}

  .about .card .col-lg-8{
  	padding: 0px!important;
  }

	{/*************Contact Section************/}
		.contact-main .contact-form .btn3 {
			width: 50%;
		}

	}	
@media only screen and (max-width: 767px) and (min-width: 527px){
	{/*************Home Section************/}
	.section1{
		margin-top: 60px;
	}
	.section1 .carousel-caption{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.section1 .container-fluid .carousel-caption h1 {
		padding: 5px!important;
		font-size: 25px;
		margin-top: -250px;
		
	}
	.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 15px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
	.section1 .carousel-item img{
		height: 550px!important;
		width: 100%!important;
	}

		{/*************Donate now Section************/}
	.section2 .donate h1{
		margin-top: 20px;
	}
		.section2 .block{
			padding: 0px;
		}
		.section2 .donate-details p{
			padding: 0px;
		}
		.section2 .form{
			margin-bottom: 0px;
			padding: 0px;
		}
		.section2 .form input{
			width: 100%;
		}
		.section2 .form .button1{
			width: 100%;
		}
	{/*************Our plan Section************/}
		.plans{
			display: grid;
			grid-template-columns: repeat(3, 1fr)!important;
		}

		.plans .col-md-4 #shelter,.plans .col-md-4 #food,.plans .col-md-4 #education{
			padding: 10px;
		}
		.plans .col-md-4{
			padding: 5px!important;
		}

			{/*************Success Section************/}
				.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:770px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
    margin: 120px 0px 150px 0px;

	}
	.done .done-accessories .boxes{
			display: grid;
			grid-template-columns: repeat(2, 1fr)!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}

		{/*************Gallary Section************/}

		.gallery {
    	display: grid;
    	grid-template-columns: repeat(3, 1fr)!important;
  }

  	{/*************About Section************/}

  #about .container{
  	margin: 0px;
  }
  
	.about .card .row .col-md-6 img{
		border-radius: 0!important;
	}

  .about .card .col-lg-8{
  	padding: 0px!important;
  }

	{/*************Cotact Section************/}
		.contact-main .contact-form .btn3 {
			width: 50%;
		}

	}	
@media only screen and (max-width: 900px) and (min-width: 768px){
		{/*************Home Section************/}
			.section1{
		margin-top: 60px;
	}

	.section1 .container-fluid .carousel-caption h1 {
		padding: 5px!important;
		font-size: 40px;
		margin-top: -120px;
		
	}
	.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 15px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
.section1 .carousel-item img{
	height: 550px!important;
	width: 100%!important;
}
	{/*************Donate now Section************/}
.section2 .donate h1{
	margin-top: 20px;
}
	.section2 .block{
		padding: 0px;
	}
	.section2 .donate-details p{
		padding: 0px;
	}
	.section2 .form{
		margin-bottom: 0px;
		padding: 0px;
	}
/*	.section2 .form input{
		width: 100%;
	}*/
	.section2 .form .button1{
		width: 35%;
	}

		{/*************our plan Section************/}

.section3 .container .row .col-md-4{
	padding: 10px;
}
	{/*************Success Section************/}
				.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:900px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
    margin: 180px 0px 160px 0px;

	}
	.done .done-accessories .boxes{
			display: grid;
			grid-template-columns: repeat(4, 1fr)!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}
	{/*************About Section************/}
	.about .card .col-lg-8{
		padding: 0px!important;
	}

	{/*************Cotact Section************/}
	.contact-main .contact-form .btn3 {
		width: 50%;
	}

	}
@media only screen and (max-width: 1024px) and (min-width: 901px){
		{/*************Home Section************/}
			.section1{
		margin-top: 60px;
	}

	.section1 .container-fluid .carousel-caption h1 {
		padding: 5px!important;
		font-size: 40px;
		margin-top: -120px;
		
	}
	.section1 .container-fluid .carousel-caption p{
		padding: 0px!important;
		width: 100%!important;
		font-size: 15px;
	}


.section1 .container-fluid .carousel-caption a {
	margin-bottom: 0px!important;
	width: 100%;
	padding: 2px!important;
}
.section1 .carousel-item img{
	height: 550px!important;
	width: 100%!important;
}
	{/*************Donate now Section************/}
.section2 .donate h1{
	margin-top: 20px;
}
	.section2 .block{
		padding: 0px;
	}
	.section2 .donate-details p{
		padding: 0px;
	}
	.section2 .form{
		margin-bottom: 0px;
		padding: 0px;
	}
/*	.section2 .form input{
		width: 100%;
	}*/
	.section2 .form .button1{
		width: 35%;
	}
		{/*************Our plan Section************/}

.section3 .container .row .col-md-4{
	padding: 10px;
}

	{/*************Success Section************/}
				.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:1050px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
    margin: 180px 0px 160px 0px;

	}
	.done .done-accessories .boxes{
			display: grid;
			grid-template-columns: repeat(4, 1fr)!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 10px;
		height: 90px;
		width: 170px;
	}
	{/*************About Section************/}
	.about .card .col-lg-8{
		padding: 0px!important;
	}
	{/*************Contact Section************/}

	.contact-main .contact-form .btn3 {
		width: 50%;
	}

	}
@media only screen and (max-width: 1280px) and (min-width: 1025px){
		{/*************Home Section************/}
  .section1{
		margin-top: 60px;
	}
	.section1 .container-fluid .carousel-caption a {
		width: 35%;
	}
	.section1 .container-fluid .carousel-caption h1 {
    padding: 0px 5px 0px 5px;
    font-size: 65px;
}
.section1 .carousel-item img{
	height: 850px!important;
	width: 100%!important;
}
	{/*************Donate now Section************/}
.section2 .donate h1{
	margin-top: 20px;
}
	.section2 .block{
		padding: 0px;
	}
	.section2 .donate-details p{
		padding: 0px;
	}
	.section2 .form{
		margin-bottom: 100px;
		padding: 0px;
	}

	.section2 .form .button1{
		width: 35%;
	}

	{/*************Success Section************/}
	.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:1250px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
    margin: 180px 0px 160px 0px;

	}
	.done .done-accessories .boxes{
			display: grid;
			grid-template-columns: repeat(4, 1fr)!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 35px;
		height: 90px;
		width: 170px;
	}


}
@media only screen and (max-width: 1440px) and (min-width: 1281px){
	{/*************Home Section************/}
  .section1{
		margin-top: 60px;
	}
	.section1 .container-fluid .carousel-caption a {
		width: 35%;
	}
	.section1 .container-fluid .carousel-caption h1 {
    padding: 0px 5px 0px 5px;
    font-size: 65px;
}
.section1 .carousel-item img{
	height: 850px!important;
	width: 100%!important;
}
	{/*************Donate now Section************/}
.section2 .donate h1{
	margin-top: 20px;
}
	.section2 .block{
		padding: 0px;
	}
	.section2 .donate-details p{
		padding: 0px;
	}
	.section2 .form{
		margin-bottom: 100px;
		padding: 0px;
	}

	.section2 .form .button1{
		width: 35%;
	}

	{/*************Success Section************/}
	.done{
		padding: 0px!important;
	}
	.done-elements .done-heading h1 {
		margin-top: 0px!important;
	}
	.done img{
		width:1440px!important;
		height: 440px!important;
		border-radius: 0px!important;
		
	}
	.done-details p {
		padding: 0px!important;
	}
	.done .done-accessories{
    margin: 120px 0px 160px 0px;

	}
	.done .done-accessories .boxes{
			display: grid;
			grid-template-columns: repeat(4, 1fr)!important;
	}
	.done .done-accessories .boxes div{
		padding: 10px;
		margin: 70px;
		height: 90px;
		width: 170px;
	}


}
@media only screen and (max-width: 1752px) and (min-width: 1441px){
		{/*************nav Section************/}
	  nav{
	  	font-size: 22px;
	  }
	  	{/*************Home Section************/}
	  .section1{
		margin-top: 60px;
		font-size: 22px;
		}
/*		.section1 .container-fluid .carousel-caption h1 {
		  padding: 0px 310px 0px 310px;
		  font-size: 85px;
		}
			.section1 .container-fluid .carousel-caption p{
		padding: 5px!important;
		width: 100%!important;
		font-size: 45px;
	}*/
		.section1 .container-fluid .carousel-caption a {
		width: 45%;
	}

		{/*************Donate now Section************/}
	.section2,.section3{
		font-size: 22px;
	}
		{/*************Success Section************/}

		.done{
			padding: 0px!important;
			font-size: 22px;
		}
		.done-elements .done-heading h1 {
			margin-top: 0px!important;
		}
		.done img{
			width:2560px!important;
			height: 440px!important;
			border-radius: 0px!important;
			
		}
		.done-details p {
			padding: 0px!important;
		}
		.done .done-accessories{
	    margin: 90px 0px 160px 0px;

		}
		.done .done-accessories .boxes{
				display: grid;
				grid-template-columns: repeat(4, 1fr)!important;
		}
		.done .done-accessories .boxes div{
			padding: 10px;
			margin: 100px;
			height: 90px;
			width: 170px;
		}
			{/*************Gallary Section************/}


		.gallary, .about,.section6, .section7, footer{
			font-size: 22px;
		}
}
@media only screen and (max-width: 2560px) and (min-width: 1753px){
		{/*************Nav Section************/}
	  nav{
	  	font-size: 22px;
	  }

	{/*************Homw Section************/}

	  .section1{
		margin-top: 60px;
		font-size: 22px;
		}
/*		.section1 .container-fluid .carousel-caption h1 {
		  padding: 0px 310px 0px 310px;
		  font-size: 85px;
		}
			.section1 .container-fluid .carousel-caption p{
		padding: 5px!important;
		width: 100%!important;
		font-size: 45px;
	}*/
		.section1 .container-fluid .carousel-caption a {
		width: 45%;
	}
	{/*************Donate now Section************/}

	.section2,.section3{
		font-size: 22px;
	}

		{/*************Success Section************/}

		.done{
			padding: 0px!important;
			font-size: 22px;
		}
		.done-elements .done-heading h1 {
			margin-top: 0px!important;
		}
		.done img{
			width:2560px!important;
			height: 440px!important;
			border-radius: 0px!important;
			
		}
		.done-details p {
			padding: 0px!important;
		}
		.done .done-accessories{
	    margin: 90px 0px 160px 0px;

		}
		.done .done-accessories .boxes{
				display: grid;
				grid-template-columns: repeat(4, 1fr)!important;
		}
		.done .done-accessories .boxes div{
			padding: 10px;
			margin: 120px;
			height: 90px;
			width: 170px;
		}


			{/*************Gallary Section************/}


		.gallary, .about,.section6, .section7, footer{
			font-size: 22px;
		}
}